.orange-box {
    width: 800px;   /*200, 400, 600, 700, 800*/
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    border: solid 3px orange;
    position: absolute; /* or fixed if you want it to stay in place on scrolling */
    margin-top: -110px;
    z-index: 1000; /* ensure it's on top of other content */
}
